.Head-Menu {
	list-style: none;
	font-family: Geneva, Arial, sans-serif, Helvetica;
	font-size: 16px;
	margin: 5px;
	font-weight: bold;
}
.Head-Menu li {
	display:inline;
}
.Head-Menu li {
float: left;
display: block;
padding: 5px 3px 5px 3px;
}

#limenuHead a:link {
	display: block;
	margin-top: -5px;
	padding: 5px;
	text-decoration: none;
	color: #FFF; /* สีตัวอักษร */
	background: #c22b62;
	border: 1px solid  #c22b62;
	border-radius: 0px;
}
#limenuHead a:visited {
	display: block;
	margin-top: -5px;
	padding: 5px;
	text-decoration: none;
	color: #FFF;   /* สีตัวอักษร */
	background: #c22b62;
	border: 1px solid  #c22b62;
	border-radius: 0px;

}
#limenuHead a:hover {
	display: block;
	margin-top: -5px;
	padding: 5px;
	color: #FFF;   /* สีตัวอักษร */
	background: #d6a934;
	border: 1px solid  #d6a934;
	border-radius: 0px;

}
#limenuHead a:active {
	display: block;
	margin-top: -5px;
	padding: 5px;
	border: 1px solid  #d6a934;
	color: #FFF;   /* สีตัวอักษร */
	background: #d6a934;
	border-radius: 0px;
}

/* เมนูส่วนที่ให้แสดงค้างไว้ เช่น หน้าแรก */
#Page1 li.Page1 a,
#Page2 li.Page2 a,
#Page3 li.Page3 a,
#Page4 li.Page4 a,
#Page5 li.Page5 a,
#Page6 li.Page6 a,
#Page7 li.Page7 a,
#Page8 li.Page8 a,
#Page9 li.Page9 a,
#Page10 li.Page10 a
{
	display: block;
	margin-top: -5px;
	padding: 5px;
	border: 1px solid  #e3971f;
	color: #FFF;   /* สีตัวอักษร */
	background: #e3971f;
	border-radius: 0px;
}

/*ปุ่มด้านหน้า*/

.NV_btnTxt {
	list-style: none;
	font-size: 12px;
	border-top: 1px dashed #ccc;
	margin-top: 5px;
	margin-right: 18px;
}

.NV_btnTxt li a{
	float: right;
	padding: 5px;
	border-radius: 2px;
	margin: 5px 0px 0px 5px;;
	font-weight: bold;
}
#btnTxt a {
	text-decoration: none;
	color: #FFF; /* สีตัวอักษร */
	background: #c22b62;
}
#btnTxt a:link {
	text-decoration: none;
	color: #FFF; /* สีตัวอักษร */
	background: #c22b62;
}
#btnTxt a:visited {
	text-decoration: none;
	color: #FFF;   /* สีตัวอักษร */
	background: #c22b62;
}
#btnTxt a:hover {
	color: #FFF;   /* สีตัวอักษร */
	background: #a51a0b;
}
#btnTxt a:active {
	color: #FFF;   /* สีตัวอักษร */
	background: #a51a0b;
}
/* จบปุ่มด้านหน้า*/

.mn_left{
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0px 5px 20px;
}
.profile{
	text-align:center; padding: 2px; border: 1px solid #eb616c;
	border-radius: 0px;
	background: #FFF;
	width: 200px;
	margin-left: 10px;
	margin-top: 0px;
	font-weight: normal;
}

/* ส่วนของเมนูด้านซ้าย */
/* ส่วนของเมนูด้านซ้าย */
.ul_type {
	list-style: none;
	font-size: 13px;
	font-family: Geneva, Arial, sans-serif, Helvetica;
	margin-left: 25px;
	font-weight: bold;
}
.ul_type  #li_type {
	 display: block;
	color: #fff;
	 width: 190px;
}

/* ส่วนของเมนูด้านซ้าย ที่มีข้อความ */
#li_type a{
 display: block;
 padding: 4px 0px 4px 5px;
 border-radius: 0px;
 margin-bottom: 2px;
}

#li_type a:link{
	color: #fff;   /* สีตัวอักษร */
	background: #c22b62;
}

#li_type a:visited{
	color: #fff;   /* สีตัวอักษร */
	background: #c22b62;
}

 #li_type a:hover{
   background: #fc925e;
   text-decoration: none;
  color: #fff;   /* สีตัวอักษร */
}

#li_type a:active{
 background: #fc925e;
 color: #fff;
}

#li_type2 a{
 display: block;
 padding: 4px 0px 4px 5px;
 border-radius: 3px;
 margin-bottom: 2px;
}
#li_type2 a:link {
	text-decoration: none;
	color: #fff;   /* สีตัวอักษร */
	background: #fc6e4a;
}
#li_type2 a:visited {
	text-decoration: none;
	color: #fff;   /* สีตัวอักษร */
	background: #fc6e4a;
}
#li_type2 a:hover {
	text-decoration: none;
	color: #fff;   /* สีตัวอักษร */
	background: #fc9e4a;
}
#li_type2 a:active {
	text-decoration: none; 
	color: #fff;   /* สีตัวอักษร */
	background: #fc9e4a;
}
/* end */

/* เกี่ยวกับสถานะหยุดของ เมนูด้านข้างในแต่ละ page */
#m_none1 li.none_page1 a,
#m_none2 li.none_page2 a,
#m_none3 li.none_page3 a,
#m_none4 li.none_page4 a,
#m_none5 li.none_page5 a,

#m_id1 li.cls1 a,
#m_id2 li.cls2 a,
#m_id3 li.cls3 a,
#m_id4 li.cls4 a,
#m_id5 li.cls5 a,
#m_id6 li.cls6 a,
#m_id7 li.cls7 a,
#m_id8 li.cls8 a,

#m_id9 li.cls9 a,
#m_id10 li.cls10 a,
#m_id11 li.cls11 a,
#m_id12 li.cls12 a,
#m_id13 li.cls13 a,
#m_id14 li.cls14 a,
#m_id15 li.cls15 a,
#m_id16 li.cls16 a,

#m_id17 li.cls17 a,
#m_id18 li.cls18 a,
#m_id19 li.cls19 a,
#m_id20 li.cls20 a,
#m_id21 li.cls21 a,

#m_id22 li.cls22 a,
#m_id23 li.cls23 a,
#m_id24 li.cls24 a,
#m_id25 li.cls25 a
{
 background: #ddd;
 color: #000;
}
/* end */


.button_txt{
	font-weight: bold;
	padding: 3px;
	margin: 0px;
}
.button_txt:hover{
	font-weight: bold;
	cursor:pointer;
	cursor:default;
}


/* ส่วนการแบ่งหน้า */
.browse_page{  
    clear:both;  
    height:35px;  
    margin-top:5px;  
    display:block;  
}  
.browse_page a,.browse_page a:hover{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:1px solid #CCCCCC;  
    background-color:#F4F4F4;  
    color:#333;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
    text-decoration:none;  
}  
.browse_page a:hover{  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
}  
.browse_page a.selectPage{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
}  
.browse_page a.SpaceC{  
    display:block;  
    height:18px;  
    width:18px;  
    font-size:10px;  
    float:left;  
    margin-right:2px;  
    border:0px dotted #0A85CB;  
    font-size:11px;  
    background-color:#FFFFFF;  
    color:#333333;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;  
}  
.browse_page a.naviPN{  
    width:50px;  
    font-size:12px;  
    display:block;  
    height:18px;  
    float:left;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;     
}  
.browse_page a.naviPN:hover{  
    width:50px;  
    font-size:12px;  
    display:block;  
    height:18px;  
    float:left;  
    border:1px solid #0A85CB;  
    background-color:#0A85CB;  
    color:#FFFFFF;  
    text-align:center;  
    line-height:18px;  
    font-weight:bold;     
}  
.none{
	list-style: none;
}
.none li{
	display: inline;
}

/* Page ใหม่ */
#ulBangNa{
display: block;
list-style: none;
display: inline;
padding: 0px;
}
#ulBangNa li {
height: 30px;
display: block;
display: inline;
margin: -4px;
padding: 5px;
text-decoration: none;
}
#ulBangNa ,#liBangNa {
display: block;
padding: 5px;
text-decoration: none;
}
#ulBangNa li a:link, #ulBangNa li a:visited{
background: #0099CC;
display: block;
display: inline;
margin: 1px;
color: white;
padding: 5px;
text-decoration: none;
}
#ulBangNa li a:hover, #ulBangNa li a:active{
background: #00CCFF;
display: block;
display: inline;
color: white;
padding: 5px;
text-decoration: none;
}
#onHoverN {
background: #00CC00;
display: block;
display: inline;
color: white;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
margin-left: -5px;
margin-right: -5px;
text-decoration: none;
}
#PhoEdit {
list-style: none;
padding: 3px;
height: 100px;
}
#Etphoto{
font-weight: bold;
display: block;
padding-left: 120px;
color: red;
}
/* End */