h1, h2, h3, h4, h5, h6, ul, ol, hr, p,form {
	padding: 0px;
	margin: 0px;
	}
body {
	font-family:Tahoma, Vernada, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	
 
	background-image:url(images/bg.jpg);
	
	
}

.table_menu_left{
	width: 220px;
	height: auto;
	table-layout:fixed;
 
	}

.table_body_center{
	height: auto;
	width: 680px;
	table-layout:fixed;
	background: #FFF;
	padding: 0px;
	padding: 2px;
	border: 1px solid  #9f9f9f; /*สีกรอบครับ*/
	border-bottom: 5px solid #9f9f9f; /*สีกรอบครับ*/
	border-radius: 0px 0px 5px 5px;
	}

.title{
	padding: 5px;
	padding-left: 10px;
	border-bottom: 5px solid #8d8d80;
	color: #1d3602;
	background: #FFF;
	margin-bottom: 5px;
	
}

td a:link{color: #D00022; text-decoration: none;}
td a:visited{color: #D00022; text-decoration: none;}
td a:hover{color: #990000; text-decoration: underline;}
td a:active{color: #690102; text-decoration: none;}

.box{
	padding: 5px; margin:5px; 
	padding-bottom: 15px;
	border-bottom: 1px solid  #ccc;
	}

.head{
	border-bottom:0px solid #5E6E87; 
	width: 100%; margin-bottom: 0px; padding: 2px;
	height: 340px;
	background: #006600;
	background-image:url(images/bander.jpg);
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	margin-top: -20px;
	}

	.menuTop{
		margin-top: 295px;
	}

/* เริ่มส่วนโครงสร้างเว็บไซต์ */
.table_main{
	width: 900px;
	background: none; /* ตัดส่วนของสีเส้นพื้นหลังและสีพื้นหลัง */
	margin-top: 0px;
	}

.table_head{
	height: 0px;
	}
.table_menu_top{
	padding: 5px;
	height: auto;
	table-layout:fixed;
	padding-top: 2px;
	}





.table_footer{
	text-align: center;
	height: 50px;
	color: #555;
	padding-top: 5px;
	border-top: 1px solid #dedcdc;
	}
.footer{
	text-align: center;
	height: 100px;
	width: 100%; 
	padding-top: 15px;
	background-image:url(images/footer.jpg);
 
}
.footer #txt-footer{
padding-left: 15%;

}
/* จบส่วนโครงสร้างเว็บไซต์ */


 


/* ส่วนของตารางที่เป็นเส้น */
table td.txt_top1 {
border-left: 1px solid #fcb3b8; /* เส้นของตาราง */
border-top: 1px solid #fcb3b8; /* เส้นของตาราง */
border-bottom: 1px solid #fcb3b8; /* เส้นของตาราง */
background: #fed7da; /* สีพื้นหลังของส่วนหัวตาราง */
padding: 8px 5px 8px 5px; 
font-weight: bold;
color: #000; font-size: 12px;
}
table td.txt_top2 {
border: 1px solid #fcb3b8; /* เส้นของตาราง */
background: #fed7da;  /* สีพื้นหลังของส่วนหัวตาราง */
padding: 5px; 
font-weight: bold;
color: #000; font-size: 12px;
}

table td.txt_report-1 {
border-left: 1px solid #fcb3b8;
border-bottom: 1px solid #fcb3b8;
padding: 4px 5px 4px 5px; 
}
table td.txt_report-2 {
border-left: 1px solid #fcb3b8;
border-bottom: 1px solid #fcb3b8;
border-right: 1px solid #fcb3b8;
padding: 4px 5px 4px 5px; 
}

table tr.report {
background-color: #fcfcfc;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
color: #333;
font-size:12px;
}
table tr.report:hover {
background-color: #fff;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
color: red;
}

/* ส่วนที่เอาเมาส์ไปวางแล้วเปลี่ยนสีพื้อหลัง */
table td.link1 {
border-left: 1px solid #fcb3b8;
border-bottom: 1px solid #fcb3b8;
background: #fed7da;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
text-align: center;
color: #333;
}
table td.link1 a{
display: block;
}
table td.link2 a{
display: block;
}
table td.link2 {
border-left: 1px solid #fcb3b8;
border-bottom: 1px solid #fcb3b8;
border-right: 1px solid #fcb3b8;
background: #fed7da;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
text-align: center;
color: #333;
}

/* ส่วนที่เอาเมาส์ไปวางแล้วเปลี่ยนสีพื้อหลัง */
table td.link1:hover {
background: #eee;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
}
table td.link2:hover {
background: #eee;  /* สีพื้นหลังของส่วนข้อมูลในตาราง */
}
.rtBottom{
	border-bottom: 1px dashed #ddd;
}
/* end */



/* เกี่ยวกับ ส่วนรับข้อความที่เป็น textfield */
input.frm{
		background: #FFF;
		border: 1px solid #1d3602;
		padding-left: 2px;
		padding: 3px;
		margin: 2px;
	}
input.disabled{
		background: #FFF;
		color: #666;
		border: 1px solid #1d3602;
		padding-left: 2px;
		padding: 3px;
		margin: 2px;
	}
textarea.disabled{
		background: #FFF;
		color: #333;
		border: 1px solid #1d3602;
		padding-left: 2px;
		margin: 2px;
	}
	textarea{
		margin: 2px;
		background: #FFF;
		border: 1px solid #1d3602;
		padding-left: 2px;
		padding: 3px;
	}
	select{
		background: #FFF;
		border: 1px solid #1d3602;
		padding-left: 2px;
		padding: 2px;
		margin: 2px;
	}

/*เกี่ยวกับรูปภาพ*/
.img{
	padding: 5px; border: 1px solid #ddd;
	background: #FFF;
}
.img:hover{
	padding: 5px; border: 1px solid #aaa;
	background: #FFF;
}

.TBPage{
padding: 5px;
background: #FFF;
border-radius: 5px;
border: 0px dashed #aaa;
text-align: left;
width: 210px;
margin-left: 5px;
margin-bottom: 5px;
}

.border_product{
	margin: 2px 2px 2px 2px;
	border: 1px solid #bbb;
	background: #FFF;
	/* height: 400px;  ปรับความสูงของกรอบรูปภาพหน้าเว็บไซต์ */
}
.border_product:hover{
	border: 1px solid #aaa;
	background: #FFF;
}

.style2{ color: red; } .style3{ color: red; }

/* ส่วนของการแสดงข้อมูลหน้าแรก */
.table_list_data{
padding: 5px;
background: #FFFFEE;
border-radius: 5px;
border: 1px dashed #eee;
text-align: left;
width: 98%;
height: auto;
margin-left: 6px;
margin-bottom: 5px;
}

/* ส่วนของการแสดงข้อมูลรายละเอียด */
.table_list_data_detail{
padding: 5px;
background: #f6f6f6;
border-radius: 5px;
text-align: left;
}
ul.list_data{
list-style:none;
}
li.title_data{
padding: 2px 0px 0px 5px;
font-size: 13px;
  color: #333;
}
li.title_detail{
padding: 5px 0px 0px 0px; /* บน, ขวา, ล่าง, ซ้าย */
font-size: 15px;
  color: #690102;
}
li.data_detail{
text-indent: 20px;  /* ส่วนย่อหน้าไป 35px */
  color: #333;
padding: 5px;
}

.bottom_1{

	padding: 5px 0px 5px 0px;
}
#brt{
	border-bottom: 1px dashed #ddd;
	font-size:14px;
}
.lebl_dt{
display: inline-block; 
padding: 2px;
font-size:12px;
}
/* end */

.title_board{
	border: 1px dotted #ddd;
	color: #D00002;
	font-size: 18px;
	background: #FFF;
	margin-top: 3px; 
}
.list_boad{
	padding: 2px 5px 2px 10px;
}